.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden;
  opacity: 0; */
  transition: visibility 0s 0.3s, opacity 0.3s;
  z-index: 999;
}

.popup__opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s;
}

.popup__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  width: 430px;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.popup__close-button:hover {
  color: #565656;
}

.popup__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 54px;
}

.popup__title-confirm {
  margin: 0;
  margin-bottom: 38px;
}

.popup__title-avatar {
  margin: 0;
  margin-bottom: 38px;
}

.popup__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 38px 0;
}

.popup__field-avatar {
  margin: 0;
  margin-bottom: 18px;
}

.popup__input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 30px;
  padding: 0;
  color: #000;
}

.popup__button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
  margin-top: 18px;
}

.popup__button-confirm {
  margin: 0;
}

.popup__button-avatar {
  margin: 0;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__container_type_photo {
  background: none;
  padding: 0;
  border-radius: 0;
  width: 816px;
  height: 540px;
  display: flex;
  flex-direction: column;
}

.popup__container_type_confirm {
  width: 430px;
  height: 181px;
  display: flex;
  flex-direction: column;
}

.popup__container_type_avatar {
  width: 430px;
  height: 272px;
  display: flex;
  flex-direction: column;
}

.popup__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__photo-title {
  opacity: 1;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding-top: 10px;
}

.popup__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: calc(60% + 6px);
  left: 0;
}

.popup__error_visible {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__button_disabled {
  color: #000;
  opacity: 0.2;
  border: 1px solid #000;
  border-radius: 2px;
  background: #fff;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 90%;
    max-width: 282px;
    padding: 22px;
  }

  .popup__container_type_photo {
    width: 90%;
    max-width: 433px;
    max-height: 540px;
  }

  .popup__close-button {
    right: 0;
    top: -36px;
    font-size: 30px;
  }

  .popup__close-button:hover {
    color: #565656;
  }

  .popup__title {
    font-size: 18px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container_type_photo {
    width: 90%;
    max-width: 240px;
    max-height: 299px;
  }
}
