.profile {
  display: flex;
  max-width: 880px;
  margin: 40px auto;
}

.profile__avatar-wrap {
  display: flex;
  width: 120px;
  height: 120px;
  position: relative;
}
.profile__avatar {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__avatar:hover {
  opacity: 0.2;
}

.profile__avatar-update {
  opacity: 0;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  inset: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.profile__avatar-wrap:hover .profile__avatar {
  opacity: 0.2;
}

.profile__avatar-wrap:hover .profile__avatar-update {
  opacity: 1;
}

.profile__avatar-update-img {
  width: 26px;
  height: 26px;
}

.profile__container {
  max-width: 420px;
  margin: 22px auto 21px 30px;
}

.profile__description {
  display: flex;
  margin: 0;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 auto 0 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-edit {
  display: flex;
  margin: 15px auto 0 18px;
  border: solid 1px #fff;
  background-color: black;
  width: 24px;
  height: 24px;
}

.profile__button-edit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__button-edit-img {
  margin: auto;
  width: 10px;
  height: 10px;
}

.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-top: 16px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-add {
  display: flex;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: black;
  margin: auto 0 auto;
  outline: none;
}

.profile__button-add:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__button-add-img {
  width: 22px;
  height: 22px;
  margin: auto;
}

@media (max-width: 740px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 740px;
    margin: 40px auto 10px;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
    border: 2px solid #fff;
    margin: auto 0 auto;
  }
}

@media (max-width: 580px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 580px;
    margin: 30px auto;
  }

  .profile__container {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    margin: 30px auto;
  }

  .profile__description {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .profile__name {
    font-size: 22px;
    line-height: 100%;
    margin: 0 0 0 auto;
  }

  .profile__button-edit {
    display: flex;
    margin: 4px auto 0 10px;
    border: solid 1px #fff;
    width: 18px;
    height: 18px;
  }

  .profile__button-edit-img {
    margin: auto;
    width: 7.5px;
    height: 7.5px;
  }

  .profile__about {
    max-width: 282px;
    margin: 14px auto;
    font-size: 14px;
    line-height: 100%;
    justify-content: center;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
    border: 2px solid #fff;
    margin: auto 0 auto;
  }
}
